In [2]:
a= True
b=True

c= False

In [3]:
%whos

Variable   Type    Data/Info
----------------------------
a          bool    True
b          bool    True
c          bool    False

In [8]:
print(a and b)

True

In [9]:
print(b and c)

False

In [10]:
print(a and c)

False

Comparison

In [1]:
print(2<3)

True

In [3]:
print(False and False)
print(False and True)
print(True and False) 
print(True and True)

False
False
False
True

In [4]:
print(False or False)
print(False or True)
print(True or False) 
print(True or True)

False
True
True
True

In [4]:
a= int(input("enter a :"))
b=int (input ("enter b:"))
if (a>b):
    print("A: ",a)
    print("a is greater than b")
else:
    print("B: ",b)
    print("b is greater than a")

enter a : 32
enter b: 45

B:  45
b is greater than a

In [21]:
a = int(input("enter your marks: "))
if (a>=85):
        print("A grade")
elif(80<=a<85):
        print("A- grade")
elif(75<=a<80):
        print("B grade")
else:
    print("Fail")

enter your marks:  76

B grade

In [32]:
float_num = float(input("enter number: "))
int_part = round(float_num)
print(int_part)
if( int_part % 2==0):
    print("even number")
else:
    print("odd number")

enter number:  1

1
odd number

In [4]:
n = int(input())
i = 1
while(i<n):
    print("This is iteration number: ", i)
    print(i**2)
    
    i = i + 1

print("Loop Done!")

 5

This is iteration number:  1
1
This is iteration number:  2
4
This is iteration number:  3
9
This is iteration number:  4
16
Loop Done!

In [6]:
n = int(input('Max iterations: '))
i = 1
while(i <n):
    if i %2==0:
        print(i)
    else:
        pass
    i +=1
print("done")

Max iterations:  5

2
4
done

In [3]:
n = 20

i= 1
while True:
    if i %2==0:
        print("inside If")
        break
    else:
        print("inside else")
        i += 1
print ("Done")

inside else
inside If
Done

In [6]:
s = {"apple", 4.9, "cherry"}
i = 1
for x in s:
    print(x)
    i +=1
    if i ==3:
        break
    else:
        pass
else:
    print("Loop terinated with success")
print("outside the loop")

cherry
4.9
outside the loop

In [1]:
D = {"apple":44, "banana":20, "kiwi": 10}
for x in D:
    print(x,":", D[x])

apple : 44
banana : 20
kiwi : 10

In [10]:
name = "Avni Nehru"
rev= name[  :: -1]
print(rev)

urheN invA

In [12]:
data = input("input some comma-seperated numbers: ")
list = data.split(",")
tuple = tuple(list)
print('list: ', list)
print('tuple: ', tuple)

input some comma-seperated numbers:  3,5,7,23

list:  ['3', '5', '7', '23']
tuple:  ('3', '5', '7', '23')

In [1]:
color=["Green", "Pink", "Black", "Blue"]
print("%s %s" %(color[0], color[-1]))

Green Blue

In [1]:
print(abs.__doc__)

Return the absolute value of the argument.

In [2]:
print(sorted.__doc__)

Return a new list containing all items from the iterable in ascending order.

A custom key function can be supplied to customize the sort order, and the
reverse flag can be set to request the result in descending order.

In [3]:
print(filter.__doc__)

filter(function or None, iterable) --> filter object

Return an iterator yielding those items of iterable for which function(item)
is true. If function is None, return the items that are true.

In [4]:
import calendar
y = int(input("Input the year: "))
m = int(input("Input the month: "))

print(calendar.month(y, m))

Input the year:  2004
Input the month:  10

    October 2004
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

In [7]:
import calendar 
y = int(input("Input the year: "))
print(calendar.calendar(y))

Input the year:  2009

                                  2009

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1                         1
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       2  3  4  5  6  7  8
12 13 14 15 16 17 18       9 10 11 12 13 14 15       9 10 11 12 13 14 15
19 20 21 22 23 24 25      16 17 18 19 20 21 22      16 17 18 19 20 21 22
26 27 28 29 30 31         23 24 25 26 27 28         23 24 25 26 27 28 29
                                                    30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                   1  2  3       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       4  5  6  7  8  9 10       8  9 10 11 12 13 14
13 14 15 16 17 18 19      11 12 13 14 15 16 17      15 16 17 18 19 20 21
20 21 22 23 24 25 26      18 19 20 21 22 23 24      22 23 24 25 26 27 28
27 28 29 30               25 26 27 28 29 30 31      29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2          1  2  3  4  5  6
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       7  8  9 10 11 12 13
13 14 15 16 17 18 19      10 11 12 13 14 15 16      14 15 16 17 18 19 20
20 21 22 23 24 25 26      17 18 19 20 21 22 23      21 22 23 24 25 26 27
27 28 29 30 31            24 25 26 27 28 29 30      28 29 30
                          31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1          1  2  3  4  5  6
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       7  8  9 10 11 12 13
12 13 14 15 16 17 18       9 10 11 12 13 14 15      14 15 16 17 18 19 20
19 20 21 22 23 24 25      16 17 18 19 20 21 22      21 22 23 24 25 26 27
26 27 28 29 30 31         23 24 25 26 27 28 29      28 29 30 31
                          30

In [3]:
import datetime

date = input("enter the date: ")
date_obj = datetime.datetime.strptime(date, '%Y-%m-%d')

weekday= date_obj.strftime('%A')
print(weekday)

enter the date:  2004-10-13

Wednesday

In [9]:
import datetime
date1= date(2009,2,10)
date2= date(2004,10,13)

diff = date1 - date2
print(diff.days)

1581

In [13]:
import math
r = 6.0
volume = 4.0/3.0 * math.pi *r**3

print(volume)

904.7786842338603

In [1]:
def difference(n):
    if n<=17:
        return 17-n
    else:
        return (n-17)*2

print(difference(22))
print(difference(14))

10
3

In [2]:
# abs(x) = absolute value of a number. 
def near_thousand(n):
    return ((abs(1000-n)<=100) or (abs(2000-n) <= 100))

print(near_thousand(1000))
print(near_thousand(900))
print(near_thousand(800))

True
True
False

In [10]:
def sum_of_three(n1,n2,n3):
    if (n1==n2==n3):
        total = (n1+n2+n3)* 3
    else:
        total = n1+n2+n3
    return total

n1= int(input("enter n1: "))
n2= int(input("enter n2: "))
n3= int(input("enter n3: "))
total = sum_of_three(n1,n2,n3)
print(n1+n2+n3)
print("sum of the numbers are:  ", total)

enter n1:  24
enter n2:  56
enter n3:  34

114
sum of the numbers are:   114

In [1]:
def new_string(text):
    if len(text)>=2 and text[:2]=="Is":
        return text
    else:
        return "Is" + text

print(new_string("Array"))
print(new_string("IsEmpty"))

IsArray
IsEmpty

In [4]:
num = int(input("Enter a number: "))
if (num %2==0):
    print("even")
else:
    print("odd")

ENter a number:  4

even

In [4]:
def list_count(nums):
    count = 0

    for num in nums:
        if num == 4:
            count = count +1
    return count 

print(list_count([1, 3, 4, 4, 6]))
print(list_count([2,5,4,3,4,2,2]))

2
2

In [2]:
def counts(string, n):
    lent= 2
    if lent > len(string):
        lent = len(string)
    substr = string[:lent]
    result = ""

    for i in range(n):
        result = result + substr
    return result

print(counts('abcdef', 2))
print(counts('p', 3))

abab
ppp

In [4]:
def is_vowel(char):
    vowels = 'aeiou'
    return char in vowels
print(is_vowel('c'))
print(is_vowel('o'))

False
True

In [7]:
def group(data, n):
    for value in data:
        if n == value:
            return True
    return False

print(group([2,3,4,4,5,6,3], 4))
print(group([5,8,3],-1))

True
False

In [10]:
def histogram (items):
    for n in items:
        output = ''
        times= n

        while times > 0:
            output +='*'
            times = times -1
        print(output)

histogram([2,3,6,5])

**
***
******
*****

In [12]:
def con(lst):
    result = ''
    for element in lst :
        result +=str(element)

    return result

print(con([1,5,12,2]))

15122

In [18]:
num = [386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 
    958,743, 527]

for x in num:
    if x == 237:
        print(x)
        break
    else:
        x%2==0
        print(x)

386
462
47
418
907
344
236
375
823
566
597
978
328
615
953
345
399
162
758
219
918
237

In [19]:

color_list_1 = set(["White", "Black", "Red"])
color_list_2 = set(["Red", "Green"])


print("Original set elements:")
print(color_list_1)
print(color_list_2)


print("\nDifference of color_list_1 and color_list_2:")
print(color_list_1.difference(color_list_2))

print("\nDifference of color_list_2 and color_list_1:")
print(color_list_2.difference(color_list_1))

Original set elements:
{'White', 'Black', 'Red'}
{'Red', 'Green'}

Difference of color_list_1 and color_list_2:
{'White', 'Black'}

Difference of color_list_2 and color_list_1:
{'Green'}

In [3]:
def change(text):
    char = text[0]
    text = text.replace(char, '$')
    text = char +text[1:]
    return text
print(change('ananan'))

an$n$n

In [6]:
def swap(str1, str2):
    first2_str1=str1[:2]
    rest_str1=str1[2:]
    first2_str2=str2[:2]
    rest_str2=str2[2:]

    new_str1=first2_str2+rest_str1
    new_str2= first2_str1+rest_str2

    return new_str1+ " " +new_str2

print(swap("hello", "xyz"))

xyllo hez

In [12]:
a= "asd"
b= "xcv"
c= b[:2] 
d= a[2:]
print(c)
print(d)
print(c+d)

xc
d
xcd

In [25]:
def adding(str1):
    if len(str1)>2:
        if str1[-3:]=="ing":
            str1 = str1+"ly"
        else:
            str1 +="ing"
    return str1

print(adding("BRAIN"))
print(adding("RAINING"))  
print(adding("br"))

BRAINing
RAININGing
br

In [1]:
def longest_word(word_list):
    longest_word=""

    for word in word_list:
        if len(word)>len(longest_word):
            longest_word=word
    return longest_word, len(longest_word)

result = longest_word(["PHP", "EXCERCISE", "BAcKEND"])
print(result[0])
print(result[1])

EXCERCISE
9

In [2]:
def remove_nth(str, n):
    first_part= str[:n]
    last_part= str[n+1:]

    return first_part+last_part

print(remove_nth("String", 2))

Sting

In [7]:
def swaping(str):
    if len(str)<2:
        return "Short String"

    return str[-1:]+str[1:-1]+str[:1]

print(swaping('12345'))
print(swaping('asdfg'))

52341
gsdfa

In [13]:
def remove_odd(str):
    result = ""
    for i in range (len(str)):
        if i %2==0:
            result = result+str[i]
    return result
print(remove_odd('asdfg'))

adg

In [5]:
a = (1,4,5,45,43,532,34,543,2340)

i = a.index(45)
print(i)
print(len(a))

3
9

In [7]:
l = [1,1,1,1,1]
print(sum(l))

5

In [18]:
marks = {
    "Harry":100,
    "Avni": 100,
    "R": 23,
    "Aarav": 79,
    "Arpit":0
}

#print(marks.values())
#print(marks.keys())

marks.update({"Harry":99, "Renuka":90})
print(marks)
print(marks.get("Harry2")) #prints NONE
print(marks["Harry2"]) #Error

{'Harry': 99, 'Avni': 100, 'R': 23, 'Aarav': 79, 'Arpit': 0, 'Renuka': 90}
None

KeyError: 'Harry2'

In [34]:
e = set()
s = {23,57,2,3,3,4,5,6,7,8,9, "Harry"}
print(s)
s.add(2567)
print(s, type(s))
s.update([939488])
print(s)
s.clear()
print(s)

{2, 3, 4, 5, 6, 7, 8, 9, 23, 57, 'Harry'}
{2, 3, 4, 5, 6, 7, 8, 9, 2567, 23, 57, 'Harry'} <class 'set'>
{939488, 2, 3, 4, 5, 6, 7, 8, 9, 2567, 23, 57, 'Harry'}
set()

In [38]:
s1={1,2,3,4,5}
s2= {2,3,4,8,9}
print(s1.union(s2))
print(s1.intersection(s2))
print(s1-s2)

{1, 2, 3, 4, 5, 8, 9}
{2, 3, 4}
{1, 5}